<div>
    <form action="/auth/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" required>
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Create an account</button>
        {{#if message}}
        <span>{{message}}</span>
        {{/if}}

    </form>
    <p><a href="/">Home</a></p>
</div>